.form-task {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.task-message {
  width: 100%;
  padding: 8px 5px 0 5px;
}

.send-btn {
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.send-btn:hover {
  background: #0069d9;
}